name: Deploy static content to Pages

on:
  # Roda quando faz push na main
  push:
    branches: ["main"]

  # Permite rodar manualmente na aba Actions
  workflow_dispatch:

# Define as permissões necessárias (aqui estava seu erro antigo)
permissions:
  contents: read
  pages: write
  id-token: write

# Garante que apenas um deploy rode por vez
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # O PONTO '.' INDICA QUE O INDEX.HTML ESTÁ NA RAIZ
          path: '.'

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
